<!-- Crear la View Signup -->
<section data-ng-controller="UsersController">
	<div>
		<!-- El formulario signup -->
		<!-- Cuando se registra la información, ésta modifica el modelo $scope.user del controlador UsersController -->
		<!-- Al pulsar enviar se llama al método $scope.signup del controlador UsersController -->
		<!-- Consultar el archivo authentication.client.controller.js -->
		<form class="form-auth" ng-submit="register()">
			<h2>Registrarse</h2>
			<p class="text-warning">{{error_message}}</p>
			Nombre: <br>
		    <input type="firstName" ng-model="user.firstName" placeholder="First Name" class="form-control"><br>
		    Apellido: <br>
		    <input type="lastName" ng-model="user.lastName" placeholder="Last Name" class="form-control"><br>
		    Correo electrónico: <br>
		    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
			Nombre de usuario: <br>
		    <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
		    Contraseña: <br>
		    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		    <!--
			Confirmar contraseña: <br>
		    <input type="password" ng-model="user.password2" placeholder="Password" class="form-control"><br>
			-->
			<input type="submit" value="Registrarse" class="btn btn-primary" />
		</form>
	<br>
	<div>
		<a href="/oauth/google" class="btn btn-block btn-social btn-google">
	    	<span class="fa fa-google"></span> Registrarse usando Google
	    </a>
	</div>

</section>