<section ng-controller="ExampleController">


  <!-- MENÚ para elegir el tipo de asignaciones (talleres o quices, o de otro tipo) -->
  <ul class="nav nav-pills">
  <li role="presentation" ng-class="{ active: estaAsignacionActiva(b)}" ng-repeat="b in asignaciones"><a ng-click="asignacionSeleccionada(b)">{{b.tipo}}</a></li>
  </ul>

  <div class="page-header"><h1 id="titulo">Ecuaciones Diferenciales</h1></div>

  {{estado}}

  <!-- PAGINACIÓN para elegir el ejercicio -->
  <div class="row">
  <div class="col-md-10">
    <nav>
      <ul class="pagination">
        <li ng-class="{disabled:indice === 0}">
          <a ng-click="previo()" aria-label="Previo">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
          <li ng-class="{ active: estaEjercicioActivo(a)}" ng-repeat="a in asignacion.ejercicios"><a ng-click="ejercicioSeleccionado(a,$index)">{{$index+1}}</a></li>
        <li ng-class="{disabled:indice === asignacion.ejercicios.length-1}">
          <a ng-click="siguiente()" aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-2">
  {{intentos}}

  </div>
  </div>
</section>