<!DOCTYPE html>
<html>
<head>
	<!-- Usar la propiedad 'title' para renderizar un título de página  -->
	<title><%= title %></title>
	<!--Bootstrap-->
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css" />
	<!--Bootstrap Social - Social Buttons for Bootstrap-->
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap-social/bootstrap-social.css" />
	<link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.css" />
	<!--CSS-->
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#!/"><span data-ng-hide="authentication.user">Math Training V-Camp</span><span data-ng-show="authentication.user">Sesión de {{authentication.user.username}}</span></a></li>
            <li role="presentation"  data-ng-hide="authentication.user"><a href="#!/login">Iniciar sesión</a></li>
            <li role="presentation" data-ng-hide="authentication.user"><a href="#!/signup">Registrarse</a></li>
            <li role="presentation"><a href="#!/" data-ng-show="authentication.user" data-ng-click="signout()">Cerrar sesión</a></li>
          </ul>
        </nav>

        <h3 class="text-muted"><%= title %></h3>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <section ng-view></section>
        </div>
      </div>
      <footer class="footer">
        <p>&copy; 2017 Universidad EAN</p>
        <p>Autores: <a href="http://docentes.universidadean.edu.co/seccion/adriana-maldonado-currea.html" target="_blank">Adriana Maldonado</a>; <a href="http://docentes.universidadean.edu.co/seccion/luis-camilo-jimenez-alvarez.html" target="_blank">Luis Camilo Jiménez</a></p>
      </footer>
    </div> <!-- /container -->
	
	<script type="text/javascript">
    window.user = <%- user || 'null' %>;
  </script>

    <!--Scripts de Angularjs-->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<!--Scripts de JQuery-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
	<!-- Librerías para relazar gráficos de Google -->
	<script type="text/javascript" src="/lib/angular-google-chart/ng-google-chart.js"></script>
    <!--Bootstrap-->
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--Scripts de MathJax-->
	<script type="text/javascript" src="/lib/MathJax/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <!--Scripts de math.js-->
    <script type="text/javascript" src="/lib/mathjs/dist/math.js"></script>
    <!-- Otros script -->
    <script src="/javascripts/javascript-cas.min.js"></script>
    <script src="/javascripts/coffeequate.min.js"></script>


	<!-- Articles -->
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
    <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script> 
    <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
    <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
  <!-- Assignments-->
  <script type="text/javascript" src="/assignments/assignments.client.module.js"></script>
    <script type="text/javascript" src="/assignments/config/assignments.client.routes.js"></script>
    <script type="text/javascript" src="/assignments/config/assignments.client.run.js"></script> 
    <script type="text/javascript" src="/assignments/directives/mathJaxBind.client.directive.js"></script>
    <script type="text/javascript" src="/assignments/directives/mathJaxBindCompiled.client.directive.js"></script>
    <script type="text/javascript" src="/assignments/controllers/assignments.client.controller.js"></script>
    <script type="text/javascript" src="/assignments/services/assignments.client.service.js"></script>
    <script type="text/javascript" src="/assignments/services/info-assignment.client.service.js"></script>
	<!-- Example -->
	<script type="text/javascript" src="/example/example.client.module.js"></script>
  <script type="text/javascript" src="/example/config/example.client.routes.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<!-- Users -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/config/authentication.client.routes.js"></script>
    <script type="text/javascript" src="/users/config/authentication.client.run.js"></script>
    <script type="text/javascript" src="/users/controllers/authentication.client.controller.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
    <!-- Application -->
	<script type="text/javascript" src="/application.js"></script>


	<!-- POR INTERGRAR-->
    <!-- App-->
	<!-- 
    <script src="/javascripts/mathApp.js"></script>
     -->
    <!-- Controllers -->
	<!-- 
    <script src="/javascripts/controllers/mainController.js"></script>
    <script src="/javascripts/controllers/authController.js"></script>
     -->
    <!-- Directives -->
    <!-- 
    <script src="/javascripts/directives/mathJaxBind.js"></script>
     -->
    <!-- Services -->

</body>
</html>